* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: aliceblue;
  --first-player: red;
  --second-player: orange;
  --field-width: 7;
  --field-height: 6;
  --x-coeff: 0;
  --y-coeff: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

textarea{
  width: 100%;
  max-width: 700px;
  field-sizing: content;
  min-height: 2lh;
}

#reader {
  max-width: 700px;
}

.app {
  overflow-wrap: break-word; /* Modern standard */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* word-wrap: break-word; */
}

pre {
  white-space: pre-wrap;
}

.hidden {
  display: none;
}
